#content-container {
    display: flex;
    justify-content: center;
    align-items:start;
    height: 100%; /* Full viewport height */
    padding: 20px;
    font-family: "Archivo Black", serif;
    color:white
}

.content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column; /* Default to column for smaller screens */
}

.first-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Space between sections */
    flex-wrap: wrap; /* Wrap for smaller screens */
    height: 100%;
}

.gear-text {
    flex: 1; /* Takes up equal space */
    text-align: center;
}

.gear {
    flex: 1; /* Takes up equal space */
    min-width: 300px;
    height: auto;
}

/* Typography */
.big-text {
    font-size: 2.75rem;
    font-weight: bold;
    margin: 0 0 20px;
}

.small-text {
    font-size: 2rem;
    margin: 0 0 2em;
}

.buttons {
    display: flex;
    gap: 10px; /* Spacing between buttons */
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: "Archivo Black", serif;
}

.btn:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 1400px) {
    .first-section {
        display: flex;
        flex-direction: column; /* Stack vertically */
        align-items: center;
        text-align: center; /* Center text on mobile */
        width: 100%;
    }

    .gear-text {
        text-align: center;
    }

    .gear {
        margin-top: 20px; /* Add space between sections */
        min-width: 0px;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .buttons {
        display:flex;
        align-items:center;
        justify-content:center;
        gap: 10px; /* Spacing between buttons */
    }

    .big-text {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 0 20px;
    }
    
    .small-text {
        font-size: 1rem;
        margin: 0 0 2em;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s;
        max-height: 50px;
    }
}
