<header class="site-header">
    <a href="index.html" class="logo-link">
        <div class="logo-container">
          <img src="/assets/brand/atlasLogo.png" alt="TheDevAtlas Logo" class="logo normal-logo">
          <img src="/assets/brand/atlasLogoGlow.png" alt="TheDevAtlas Glow Logo" class="logo glow-logo">
        </div>
      </a>      
  
    <nav class="site-nav" id="site-nav">
      <a href="index.html">Home</a>
      <a href="projects.html">Projects</a>
      <a href="assets.html">Assets</a>
    </nav>
  
    <div class="social-icons">
      <a href="https://www.youtube.com/@thedevatlas" target="_blank"><img src="/assets/icons/youtube.svg" class="icon" alt="YouTube"></a>
      <a href="https://discord.gg/BUEZUdaeWJ" target="_blank"><img src="/assets/icons/discord.svg" class="icon" alt="Discord"></a>
      <a href="https://github.com/TheDevAtlas" target="_blank"><img src="/assets/icons/github.svg" class="icon" alt="GitHub"></a>
      <a href="https://patreon.com/TheDevAtlas" target="_blank"><img src="/assets/icons/patreon.svg" class="icon" alt="Patreon"></a>
  
      <div class="burger" id="burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </header>
  